kafka-python
google-cloud-bigquery
pandas
numpy
matplotlib
apache-airflow-providers-mysql
apache-airflow-providers-google
cryptography
pymysql
sqlalchemy
python-dateutil
confluent-kafka
torch
transformers
streamlit
tensorflow
yfinance
pandas_datareader
scikit-learn
apache-airflow
keras